@font-face {
  font-family: "cocogoose";
  src: url("Cocogoose.ttf");
}

@font-face {
  font-family: "lato";
  src: url("Lato.ttf");
}

* {
  /* --- RESET --- */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;

  /* --- DEFAULT TYPOGRAPHY --- */
  font-family: "cocogoose", "lato", sans-serif;
  font-weight: 400px;
  font-size: 1rem;
  color: #272a31;
}

li {
  list-style: none;
}

/* --- POSITION --- */
.container {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.float-left {
  float: left;
  margin-right: 20px;
}

/* --- SPACING --- */
.mr-2 {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mx-0 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.ml-4 {
  margin-left: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-4 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-auto {
  width: 280px;
  margin: 10px auto !important;
}

.px-1 {
  padding-right: 10px;
  padding-left: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-4 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-4 {
  padding-top: 80px;
}

/* --- COLORS --- */
.bg-dark {
  background: #272a31;
}

.bg-light {
  background: #d3d3d3;
}

.bg-alert {
  background: #ec5242;
}

.t-dark {
  color: #272a31;
}

.t-light {
  color: #d3d3d3;
}

.t-white {
  color: #fff;
}

.t-alert {
  color: #ec5242 !important;
}

/* --- TYPOGRAPHY --- */
.t-0 {
  font-size: 0.8rem;
}

.t-1 {
  font-size: 1.2rem;
}

.t-2 {
  font-size: 1.4rem;
}

.t-3 {
  font-size: 1.6rem;
}

.t-4 {
  font-size: 2rem;
}

.t-5 {
  font-size: 3rem;
}

.t-center {
  text-align: center;
}

.t-italic {
  font-style: italic;
}

/* --- BUTTONS --- */
.btn-r {
  color: #ec5242;
  border: solid 3px #ec5242;
  border-radius: 2px;
  padding: 4px 8px;
}

/* --- NAVBAR --- */
#logo {
  font-size: 2rem;
}

#nav-top {
  color: #d3d3d3;
}

#nav-links-f {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
}

.nav-links a {
  color: #272a31;
  margin-left: 36px;
}

.icon-nav {
  width: 20px;
}

/* --- BANNER --- */
#banner-bg {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-description {
  max-width: 350px;
  border: 2px solid #fff;
  border-radius: 1px;
}

.banner-title {
  font-weight: 700;
  max-width: 520px;
}

.banner-date {
  font-weight: 700;
}

/* --- MAIN PROGRAMN --- */
#main-programn {
  background: #272a31;
  min-height: 420px;
}

.link-call {
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 36px;
}

.grid-1 {
  display: grid;
  grid-template: 1fr / repeat(4, 200px);
  grid-gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.grid-1-item {
  padding: 15px 15px;
  background: rgba(246, 246, 246, 0.1);
}

.g1-item-3 {
  border: 2px solid #d3d3d3;
}

.grid-1-icon {
  width: 20px;
}

.hr-mini {
  width: 45px;
  border-top: 1px solid #ec5242;
  margin: auto;
  padding: 10px;
}

.hr-full {
  border-top: 1px solid #d3d3d3;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
}

/* ---FEATURE SPEAKER --- */
.grid-2 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px;
}

.grid-2-item {
  padding: 15px 0;
  background: rgba(246, 246, 246, 0.1);
}

.grid-2-avatar {
  width: 120px;
  margin-bottom: 10px;
}

.img-chess {
  position: relative;
  float: left;
  top: -20px;
  right: -50px;
  width: 70px;
  z-index: -1;
}

.hr-mini-dark {
  border-top: solid 1px #d3d3d3;
  width: 25px;
  margin: 10px 0;
}

/* --- FOOTER --- */
#footer {
  background: #272a31;
}

/* --- ABOUT PAGE --- */
#about-title {
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.about-comment {
  max-width: 800px;
  margin: 0 auto;
  border: solid 1px #999;
  background: #fff;
}

.t-auto-center {
  text-align: center;
  margin: 0 auto;
}

#email-us {
  text-decoration: underline;
  line-height: 36px;
}

#about-history {
  max-width: 500px;
  margin: 0 auto;
}

#about-logo {
  display: inline-block;
  font-size: 3rem;
  padding: 25px 55px;
  margin: 50px 0;
  border: 1px solid #d3d3d3;
}

.img-team {
  width: 300px;
}

.gradient-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 200px;
}

.grid-3 {
  display: grid;
  grid-template: 1fr / repeat(2, 300px);
  grid-gap: 20px;
  justify-content: center;
}

.offset {
  position: relative;
  top: -180px;
}

#buy {
  padding: 15px;
  border-radius: 3px;
  color: #fff;
  width: 100px;
  margin: 0 auto;
}

/* --- TICKETS PAGE --- */
table {
  margin: 50px auto;
  border-collapse: collapse;
  border: 3px solid #ec5242;
  background: #fff;
}

td {
  border: 1px solid #d3d3d3;
}

td,
tr {
  text-align: center;
  width: fit-content;
}

thead {
  background-color: #d3d3d3;
  color: #fff;
}

.cellpadding {
  padding: 15px 10px;
}

.step {
  padding: 15px 5px;
  width: 300px;
  margin: 0 auto;
  border: solid 1px #272a31;
  border-radius: 40px;
}

/* --- MODERN SMARTPHONE BREAKPOINT --- */
@media (max-width: 411px) {
  #logo,
  #table-laptop,
  #nav-top,
  #join-btn {
    display: none !important;
  }

  #banner-bg {
    background-size: auto 100%;
  }

  #nav-links-f {
    position: sticky !important;
    top: 0;
    z-index: 3;
    background: #fff;
  }

  .container {
    margin: 0 5px !important;
  }

  .grid-1 {
    grid-template: repeat(4, 1fr) / 200px !important;
  }

  .img-chess {
    left: 5px;
  }

  .grid-2-avatar {
    position: relative;
    left: -50px;
  }

  .grid-2-text {
    position: relative;
    left: -60px;
  }

  .grid-3 {
    grid-template: repeat(2, 1fr) / 1fr;
    grid-gap: 0;
    margin-left: 10px;
  }
}

/* --- 10 YEARS OLD SMARTPHONES BREAKPOINT --- */
@media (min-width: 0px) and (max-width: 320px) {
  .grid-2-text {
    clear: both;
    left: 0;
  }

  .step {
    font-size: 11px;
    margin: 0 auto;
    width: 270px;
  }

  th, td {
    font-size: 11px;
  }
}

/* --- TABLET BREAKPOINT --- */
@media (max-width: 768px) {
  .container {
    width: auto;
    margin: 0 15px;
  }

  .grid-1 {
    grid-template: repeat(2, 1fr) / repeat(2, 200px);
  }

  .grid-2 {
    grid-template: repeat(4, 1fr) / 1fr;
  }
}

@media (min-width: 411px) and (max-width: 767px) {
  #banner-bg {
    background-size: auto 100%;
  }
}

@media (min-width: 411px) {
  #nav-smartphone {
    display: none;
  }
}

/* --- LAPTOP BREAKPOINT --- */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
